# Predict Boston Housing Prices

This python program predicts the price of houses in Boston using  Linear Regression.

# Linear Regression
Linear regression is a linear approach to modeling the relationship between a scalar response (or dependent variable) and one or more explanatory variables (or independent variables).

## Pros:
1. Simple to implement.
2. Used to predict numeric values.

## Cons:
1. Prone to overfitting.
2. Cannot be used when the relation between independent and dependent variable are non linear.
3. Not suitable for data with higher Dimension

In [1]:
#import the libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [2]:
#Load the Boston Housing data
from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
#get sample feature names
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [4]:
#get the target variable of first five
boston.target[:5]

array([24. , 21.6, 34.7, 33.4, 36.2])

In [5]:
#get sample data of first five rows
boston.data[5][:]

array([2.9850e-02, 0.0000e+00, 2.1800e+00, 0.0000e+00, 4.5800e-01,
       6.4300e+00, 5.8700e+01, 6.0622e+00, 3.0000e+00, 2.2200e+02,
       1.8700e+01, 3.9412e+02, 5.2100e+00])

In [6]:
# We will use boston.data , boston.feature_names and boston.taregt to create a new df

In [7]:
#here from boston df and labels
df = pd.DataFrame(boston.data, columns = boston.feature_names)
y = pd.DataFrame(boston.target)

In [8]:
#Get some statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CRIM,506.0,3.613524,8.601545,0.00632,0.082045,0.25651,3.677083,88.9762
ZN,506.0,11.363636,23.322453,0.00000,0.000000,0.00000,12.500000,100.0000
INDUS,506.0,11.136779,6.860353,0.46000,5.190000,9.69000,18.100000,27.7400
CHAS,506.0,0.069170,0.253994,0.00000,0.000000,0.00000,0.000000,1.0000
NOX,506.0,0.554695,0.115878,0.38500,0.449000,0.53800,0.624000,0.8710
RM,506.0,6.284634,0.702617,3.56100,5.885500,6.20850,6.623500,8.7800
AGE,506.0,68.574901,28.148861,2.90000,45.025000,77.50000,94.075000,100.0000
DIS,506.0,3.795043,2.105710,1.12960,2.100175,3.20745,5.188425,12.1265
RAD,506.0,9.549407,8.707259,1.00000,4.000000,5.00000,24.000000,24.0000
TAX,506.0,408.237154,168.537116,187.00000,279.000000,330.00000,666.000000,711.0000
PTRATIO,506.0,18.455534,2.164946,12.60000,17.400000,19.05000,20.200000,22.0000
B,506.0,356.674032,91.294864,0.32000,375.377500,391.44000,396.225000,396.9000
LSTAT,506.0,12.653063,7.141062,1.73000,6.950000,11.36000,16.955000,37.9700

In [9]:
#init the model
reg = linear_model.LinearRegression()

In [10]:
#split with 80 to 20
x_train, x_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=42)

In [11]:
#Train our model 
reg.fit(x_train, y_train)

LinearRegression()

In [12]:
#Print the coefecients
print(reg.coef_)

[[-1.13055924e-01  3.01104641e-02  4.03807204e-02  2.78443820e+00
  -1.72026334e+01  4.43883520e+00 -6.29636221e-03 -1.44786537e+00
   2.62429736e-01 -1.06467863e-02 -9.15456240e-01  1.23513347e-02
  -5.08571424e-01]]

In [13]:
#predict for xtest
y_pred = reg.predict(x_test)

In [14]:
#check the score
from sklearn.metrics import mean_squared_error as mse
print(f"Rmse is {np.sqrt(mse(y_test , y_pred))}")

Rmse is 4.928602182665344